---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectLink from "../components/ProjectLink.astro";
const projects = [
  {
    text: "GitDocumentDB",
    url: "https://gitddb.com",
    description: "Offline-first database that syncs with Git",
    color: "#c0c0c0",
  },
  {
    text: "Petasti",
    url: "https://scrapbox.io/petasti/",
    description: "The sticky outliner",
    color: "#009000",
  },
  {
    text: "Logseq (ja)",
    url: "https://scrapbox.io/logseq-ja/",
    description: "Logseq 日本語ドキュメントプロジェクト（非公式）",
    color: "#e95800",
  },
];
const pageTitle = "疏水線";
const subTitle = "sosuisen - the path where water flows.";
---
<BaseLayout pageTitle={pageTitle} subTitle={subTitle}> 
  <img src="/images/offline_capable_small.png" alt="projects" />
  <h2>My projects</h2>
  <ul>
    {projects.map((project) => (
      <ProjectLink
        url={project.url}
        text={project.text}
        description={project.description}
        color={project.color}
      />
    ))}
  </ul>
</BaseLayout>
